* {
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    margin: auto;
    /* background-color: red; */
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    text-align: center;
    margin: 20px;
}

.table-data {
    width: 60em;
    margin: auto;
}

td {
    text-align: center;
    padding: 6px;
}

.table-data tr td > img {
    height: 100px;
    width: 150px;
}